
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body{
    background-image: url("netflix-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}  


.logo{
    padding: 20px;
    width: 13rem;
    height: 15%;
}

header button,header select{
    position: absolute;
    top: 3%;
    border-radius: 15px;
    font-size: 0.5rem;
}

header select{
    right: 12%;
    height: 40px;
    width: 60px;
    background-color: black;
    border: 1px solid white;
    color: white;
    margin-right: 2rem;
}

header button{
    right: 5%;
    height: 40px;
    width: 50px;
}

content, login, footer{
    text-align: center;
}

content, footer{
    color: white;
    
}

content>div{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.8rem;
    line-height: 4rem;
    
}

content h1{
    font-weight: bold;
}

content>form{
    display: flex;
    justify-content: center;
    line-height: 4rem;
}


.putEmail{
    line-height: 4rem;
    text-align: center;
    min-width: 35%;
    margin-right: 0px;
}

form>button{
    min-width: 10%;
    line-height: 4rem;
    font-size: 1.1rem;
    padding: 0;
    margin-left: 0px;
}

footer{
    height: 10%;
}

footer h4{
    position: absolute;
    bottom: 5%;
    left: 40%; 
}


.red {
    background-color: red;
    color: white;
}

@media only all and (max-width: 800px) {
    content>form{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
  

  form>button{
    margin-left: auto;
  }

  .putEmail{
    margin-right: auto;
}
}

//position: fixed;
// bottom: 0;
//left: 40%;

// 선택자: 설명s
// * : 기본 세팅
// body : body에 배경화면 적용(이미지 선택, 반복x, 꺠지지않는 선에서 최대한 cover), 뷰포트를 꽉 채우게 높이 설정
// .loge : padding을 통해 여유 공간 확보, 높낮이를 반응형으로 만들고자.
// 
// header button들 : position absolute를 통해 위치 배정
// content, login, footer 를 가운데 정렬
// content의 글짜 색깔 white, 행자간 높이 3rem, 높이 설정
// footer : 높이 설정, 글짜 색깔 white, 뷰포트를 기준으로 하기위해 position: fixed 과 bottom 및 left 설정



// div 대신 wrap 이런 걸로 쓰면 블록이 제대로 안 생기는 문제가..
// 문제가 스크롤로 글자 크기 조절하면 이상해지는 문제가...

// background: none; 으로 하면 투명한 요소가 될 수 있다.
// margin과 width를 다 rem단위로 쓰네 => logo의 경우 width: 30% 대신 13rem으로 쓰니, 계속 크기가 고정되네
