
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body{
    background-image: url("netflix-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}  


.logo{
    padding: 35px;
    width: 23rem;
    height: 15%;
}

header{
    height: 20%;
}

header button,header select{
    position: absolute;
    top: 3%;
    border-radius: 15px;
    font-size: 1rem;
    height: 60px;
    width: 100px;
}

header select{
    right: 12%;
    background-color: black;
    border: 1px solid white;
    color: white;
    margin-right: 40px;
}

header button{
    right: 5%;
}

content, login, footer{
    text-align: center;
}

content, footer{
    color: white;
    
}

content>div{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    line-height: 5.5rem;
    word-break:keep-all;
}

content h1, content h1>span{
    font-weight: bold;
}

content>form{
    display: flex;
    justify-content: center;
    line-height: 4rem;
    margin-top: 70px;
}


.putEmail{
    line-height: 4rem;
    text-align: center;
    min-width: 800px;
    width: 30%;
    font-size: 1.5rem;
}

form>button{
    min-width: 150px;
    width: 7%;
    line-height: 4rem;
    font-size: 1.1rem;
    padding: 0;
    font-size: 1.5rem;
}

footer{
    height: 32%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.red {
    background-color: red;
    color: white;
}

@media (min-width: 980px) and (max-width: 1300px){
    content>div{
        font-size: 2.3rem;
        line-height: 4rem;   
        height: 40%;
    }
}

@media only all and (max-width: 980px) {
    .logo{
        width: 18rem;
    }

    header button,header select{
        height: 50px;
        width: 70px;
        font-size: 0.8rem;
    }

    content>div{
        font-size: 1.8rem;
        line-height: 4rem;   
        height: 40%;
    }

    content span{ 
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    h4>span, h6>span{
        line-height: 0.8rem;
    }
                                  
    content>form{
        flex-direction: column;
    }
    
    .putEmail{
        min-width: 150px;
        width: 80%;
    }


    form>button{
        width: 30%;
    }


}

//position: fixed;
// bottom: 0;
//left: 40%;

// 선택자: 설명s
// * : 기본 세팅
// body : body에 배경화면 적용(이미지 선택, 반복x, 꺠지지않는 선에서 최대한 cover), 뷰포트를 꽉 채우게 높이 설정
// .loge : padding을 통해 여유 공간 확보, 높낮이를 반응형으로 만들고자.
// 
// header button들 : position absolute를 통해 위치 배정
// content, login, footer 를 가운데 정렬
// content의 글짜 색깔 white, 행자간 높이 3rem, 높이 설정
// footer : 높이 설정, 글짜 색깔 white, 뷰포트를 기준으로 하기위해 position: fixed 과 bottom 및 left 설정



// div 대신 wrap 이런 걸로 쓰면 블록이 제대로 안 생기는 문제가..
// 문제가 스크롤로 글자 크기 조절하면 이상해지는 문제가...

// background: none; 으로 하면 투명한 요소가 될 수 있다.
// margin과 width를 다 rem단위로 쓰네 => logo의 경우 width: 30% 대신 13rem으로 쓰니, 계속 크기가 고정되네
